body{
    font-family: monospace;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 0;

}

h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin:0;
    padding: 30px;
    padding-left: 150px;
    text-shadow: 2px 2px 10px black;

}

#content{
    display: flex;
    justify-content: center;
}

#mainContent{
    display: flex;
    gap: 50px;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}


#buttons button, input{
    width: 120px;
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: #969a97;
    font-weight: bold;
    font-size:1.2rem;
    cursor: pointer;
}

#buttons button:hover, input:hover{
    background-color: #434443b9;
    transform:scale(1.1);
    transition: all 0.3 ease;
}

#buttons button:active, input:active{
    background-color: #262726ce;
}

#gridDisplayContainer{
    height: 500px;
    width: 500px;
    box-shadow: 10px 10px 20px,
                20px 20px 30px;
}

#colorPicker{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: white;
    accent-color: black;
}

#gridSizeRangeDisplay, #gridSizeTextDisplay{
    accent-color:black;
    font-size: 1.1rem;
}



